.footer-container{
    margin-top: 10%;
    background:#f8f9fa;
    height:5rem;
    
}
.footer {
    margin-top: 30rem;
    position:fixed;
    bottom:0;
    width:100%;
    height:20rem;   /* Height of the footer */
    background:#f8f9fa;
}
.foot-col{
    margin-top: 2.0rem;
    font-size:1.2rem !important;
    
}